.tweet{
    width:50px;
    background-color: rgba(0, 0, 0, 0.00);
    height:600px;
    align-items: stretch;
}

.pic{
    width: 30px;
    height: 30px;
    padding-bottom: 20px;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
}